@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Neon&display=swap');
.city-list{
    
}
/* // <uniquifier>: Use a unique and descriptive class name

.tilt-neon- li {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
} */
.dash_container{
    display: flex;
    flex-direction: row;
    height: 32em;
    justify-content: center;
}
ul{
    background:rgba(53, 89, 107, 0.5);
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
}
li{
    border-bottom: 1px solid white ;
    padding-bottom: 15px;
    margin: 10px;
    list-style: none;
    text-align: left;
    color: beige;
    font-family: "Tilt Neon", sans-serif;
    text-transform: capitalize;
}
.dis{
    font-family: Poppins;
    text-align: center;
    color: rgb(186, 192, 189);
}